@charset "UTF-8";

body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index:9999;
}

.inner {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  width: 1100px;
}

.header-inner {
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.icon-bolt {
  color: #4e4e4e;
  font-size: 2em;
}

.button-contact {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  transition: all  0.3s ease;
}

.button-contact:hover {
	cursor: pointer;
  color: #333;
}

main {
  padding-top: 70px;
}

.inner-theme {
  padding: 250px 0 250px 0;
}

h1 {
  font-size: 90px;
}

.is_raleway { 
  font-family: 'Raleway';
}

.theme-h1 {
  color: #74cfae;
  font-weight: 700;
}

.theme-text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

h2 {
  font-size: 24px;
}

.wrap-what {
  background-color: #74cfae;
  width: 100%;
  padding: 50px 0 0 0;
}

.what-float {
  float: right;
  margin-left: 100px;
}

.what-h2 {
  box-sizing: border-box;
  color: #fff;
}

.what-text {
  box-sizing: border-box;
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
  width: 650px;
}

.inner-work {
  padding:60px 0 70px 0;
}

.work-img-flex {
  display:flex;
  flex-wrap:wrap;
  font-size: 0;
  align-items:center;
  margin-top: 40px;
}

.work-img {
  box-sizing: border-box;
  margin-left: 100px;
  opacity: 0.7;
  transition: all  0.3s ease;
  vertical-align: bottom;
}

.work-img:hover {
  cursor: pointer;
  opacity: 1;
}

.work-img:first-child,
.work-img:nth-child(3n+4) {
  margin-left:0;
}

.work-img:nth-child(n+4) {
  margin-top: 80px;
}

.work-flex {
  display: flex;
  justify-content: center;
  margin-top:90px;
}

.work-text {
  align-self: flex-start;
  font-size: 20px;
  width: 580px;
}

.button-email {
  align-self: flex-start;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  transition: all  0.3s ease;
} 

.button-email:hover {
  cursor: pointer;
  color: #333;
}

.inner-skills {
  padding: 70px 0 100px 0;
}

.skills-h2 {
  color: #fff;
}

.wrap-skills {
  background-color: #4e4e4e;
  width: 100%;
}

.skills-font {
  color: #fff;
  font-size: 16px;
}

.skills-flex-wrap {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.skills-flex {
  margin-left: 180px;
  text-align: center;
}

.skills-flex:first-child {
  margin-left: 0;
}

.skills-img {
  vertical-align: bottom;
}

.inner-nav {
  padding: 200px 0 200px 0;
}

.a-icon-nav {
  padding: 30px 0 30px 0;
  transition: all  0.3s ease;
}

.icon-nav {
  color: #74cfae;
  font-size: 2em;
  width: 185px;
}

.a-icon-nav:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
  width: 100%;
}

.inner-footer {
  padding: 20px 0px 25px 0px;
}

.footer-copy {
  color: #fff;
  font-size: 12px;
  float: right;
}